body{
    background-color: rgb(114, 140, 166);
    
}

#elso{
background-color: rgb(199, 216, 233);
max-width: 61%;
margin: auto;
}

#masodik{
    background-color: rgb(199, 216, 233);
    max-width: 61%;
    margin: auto;
    margin-top: 50px;



}